.new_post {
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}
.item {
    margin-bottom: 20px;
}
.item_data {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 5px;
}
.info {
    margin-bottom: 30px;
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.ava {
    width: 70px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.avatar_block {margin-right: 20px;}
.avatar_block img{
    display: block;
}
.avatar_block label{
    display: block;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    font-size: 12px;
    color: green;
}
.avatar {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}